a {
    color: $text-cl;
    text-decoration: none;
    display: block;
}
img {
    display: block;
    margin: auto;
    max-width: 100%;
}
strong {
    font-family: bb;
}

.-lv1 {
    @include text(100px, b, 100px, $white-cl, none);
    font-weight: normal;
    margin: 0;
    a {
        @include text(100px, g, 100px, $white-cl, none);
    }
    @include tablet {
    }
    @include mobile {
    }
}

.button{

}

.arrow{
    
}