footer {
	color: white;
	a {
		color: white;
		cursor: pointer;
	}
	@include desktop {
		
	}
	@include tablet {
		
	}
	
}
footer {
	background-color: black;
	padding: 20px 0;
	font-size: 12px;
	color: #a7a7a7;
	.row {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.footer__logo {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			display: inline-block; 
			a {
				color: #a7a7a7;
			}
		}
	}
	@include mobile {
		.row {
			flex-direction:column;
			.footer__logo {
				margin: 20px auto;
				position: initial;
				left: initial;
				transform: initial;
			}
		}
	}
	@include mobile-xxs {
		.row {
			flex: 1;
		}
	}
}
